

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Marketplace de Produtos Artesanais Cadastro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/cadastrar.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastrar.css') }}">
    <style>
      /* Esconde os formulários de cadastro inicialmente */
      #artesaoCadastro, #clienteCadastro, #tituloArtesao, #tituloCliente {
        display: none;
      }

      #mensagemErro{
        display: none;
        color: red;
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Página Inicial</a></li>
          <li><a href="/loginArtesao">Perfil do Artesão</a></li>
        </ul>
      </nav>
          </header>



    
    <main>


      <form id="tipoCadastro">
        <label for="selectTipoCadastro">Você é cliente ou artesão?</label>
        <select name="selectTipoCadastro" id="selectTipoCadastro">
          <option value="artesao">Artesão</option>
          <option value="cliente">Cliente</option>
        </select>
        <button type="submit">Continuar</button>
      </form>
      
      <h1 id="tituloArtesao">Crie sua conta gratuitamente e exponha seus produtos para venda!! </h1>
      <h1 id="tituloCliente">Cadastre-se gratuitamente e aproveite suas compras</h1>
      {% set mensagens = get_flashed_messages() %}
      {% if mensagens %}
          <div id="alerta">
              {{mensagens[0]}}
          </div>
      {% endif %}


        <form id="artesaoCadastro" action="/cadastrarArtesao" method="post" >

            <h1>Cadastrar artesão </h1>
            <p id="mensagemErro" >As senhas não são iguais!</p>

            <label for="emailArtesaoCadastro">Email</label>
            <input type="email" name="emailArtesaoCadastro" id="emailArtesaoCadastro" placeholder="Digite seu Email" required>
            <label for="nomeCadastroartesao">Nome</label>
            <input type="text" name="nomeCadastroartesao" id="nomeCadastroartesao" placeholder="Digite seu nome">
            <label for="chavePIX">Chave PIX</label>
            <input type="text" name="chavePIX" id="chavePIX" placeholder="Digite sua chave pix" required>
            <label for="senhaArtesaoCadastro">Senha</label>
            <input type="password" name="senhaArtesaoCadastro" id="senhaArtesaoCadastro"placeholder="Crie sua senha" required>
            <label for="repetirsenhaArtesao">Repita sua senha</label>
            <input type="password" name="repetirsenhaArtesao" id="repetirsenhaArtesao" required placeholder="Repita sua senha">
            <input type="submit" value="Enviar">
              
          </form>


          <form id="clienteCadastro" action="" method="post">
            <h1>Cadastrar cliente </h1>
            <label for="emailClienteCadastro">Email</label>
            <input type="email" name="emailClienteCadastro" id="emailClienteCadastro" placeholder="Digite seu Email" required>
            <label for="nomeCadastroartesao">Nome</label>
            <input type="text" name="nomeCadastroCliente" id="nomeCadastroCliente" placeholder="Digite seu nome">
            <label for="senhaClienteCadastro">Senha</label>
            <input type="password" name="senhaClienteCadastro" id="senhaClienteCadastro"placeholder="Crie sua senha" required>
            <label for="repetirsenhaCliente">Repita sua senha</label>
            <input type="password" name="repetirsenhacliente" id="repetirsenhacliente" required placeholder="Repita sua senha">
            <input type="submit" value="Enviar">
              
          </form>

    </main>
     
    <footer>
      <p>&copy; 2023 Marketplace de Produtos Artesanais Igor & Luiz</p>
    </footer>
<script>
    // script para aparecer somente o formulario escolhido pelo usuario
  const tipoCadastroForm = document.querySelector('#tipoCadastro');
  const artesaoForm = document.querySelector('#artesaoCadastro');
  const clienteForm = document.querySelector('#clienteCadastro');
  const tituloCliente = document.querySelector('#tituloCliente');
  const tituloArtesao = document.querySelector('#tituloArtesao');

  tipoCadastroForm.addEventListener('submit', (event) => {
    event.preventDefault();
    const tipoCadastro = document.querySelector('#selectTipoCadastro').value;
    if (tipoCadastro === 'artesao') {
      artesaoForm.style.display = 'block';
      tituloArtesao.style.display = 'block';
      tituloCliente.style.display = 'none';
      clienteForm.style.display = 'none';
    } else {
      clienteForm.style.display = 'block';
      tituloCliente.style.display = 'block';
      artesaoForm.style.display = 'none';
      tituloArtesao.style.display = 'none';
    }
  });

// função para verificar se as senhas são iguais e dar continuidade no submit
document.getElementById("artesaoCadastro").addEventListener("submit", function(event) {
    event.preventDefault();
    let senha = document.getElementById("senhaArtesaoCadastro").value;
    let repetirSenha = document.getElementById("repetirsenhaArtesao").value;
    let mensagemErro = document.getElementById("mensagemErro");

    if (senha !== repetirSenha) {
        mensagemErro.style.display = "block";
        document.getElementById("senhaArtesaoCadastro").classList.add("erro");
        document.getElementById("repetirsenhaArtesao").classList.add("erro");
        return false;
    } else {
        mensagemErro.style.display = "none";
        document.getElementById("senhaArtesaoCadastro").classList.remove("erro");
        document.getElementById("repetirsenhaArtesao").classList.remove("erro");
        document.getElementById("artesaoCadastro").submit(); 
        return true;
    }
});




</script>
</script>
    <script src="/static/javascript/home.js"></script>
    <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
  </body>
</html>
