

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Marketplace de Produtos Artesanais </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Página Inicial</a></li>
          <li class="sair" ><a href="/sair">Sair</a></li>
          
          
        </ul>
      </nav>
          </header>


          

    
    <main>


      




    </main>
     
    <footer>
      <p>&copy; 2023 Marketplace de Produtos Artesanais Igor & Luiz</p>
    </footer>
<script>
    
</script>
    <script src="/static/javascript/home.js"></script>
    <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
  </body>
</html>
