

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Marketplace de Produtos Artesanais</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Página Inicial</a></li>
          <li><a href="/artesao">Perfil do Artesão</a></li>
          {% if logado %}
          <li class="btnlogin"><a href="/cliente">Minha pagina</a></li>
          {% else %}
          <li class="btnlogin"><a href="/login">Login</a></li>
          <li class="btncadastrar"><a href="/cadastrar">Cadastrar</a></li>
          {% endif %}
          <li class="carrinho"><a href="{{rotaCarrinho}}"> <img src="/static/arquivos/carrinho.png" alt=""><span class="text">{{carrinho}}</span> </a></li>
        </ul>
      </nav>
          </header>
    
    <main>
        <section id="busca">
            <h2>Pesquisar Produtos</h2>
            <form>
              <input type="text" placeholder="Pesquisar por nome, categoria ou palavra-chave">
              <button type="submit">Buscar</button>
            </form>
          </section>
    
      <section id="destaque">
        <h1>Produtos em Destaque</h1>
        <div class="produtos">
          <!-- aqui colocamos os produtos em destaque -->
        </div>
      </section>

      <section id="produtos">
        <h2>Todos os Produtos</h2>
        <div class="produtos">
          {% for artesao1 in artesao %}
          {% if artesao1['produtos'] %}
          {% for produto, dados in artesao1['produtos'].items() %}
          <div class="produto{% if loop.index % 4 == 0 %} ultima{% endif %}">
            <img src="{{ url_for('static', filename='produtos/' + dados['imagem']) }}" alt="{{ produto }}" width="200">
            <h2>{{ produto }}</h2>
            <p>{{ dados['discricao'] }}</p>
            <p>Preço: R$ {{ dados['preco'] }}</p>
            <p>vendedor: {{ artesao1['nome'] }}</p>
          

            <form action="{{rotaCompra}}" method="{% if rotaCompra == '/adicionarCarrinho' %}POST{% else %}GET{% endif %}">
              <input type="hidden" name="imagem" value="{{ dados['imagem'] }}">
              <input type="hidden" name="discricao" value="{{ dados['discricao'] }}">
              <input type="hidden" name="preco" value="{{ dados['preco'] }}">
              <input type="hidden" name="nome_produto" value="{{produto}}">
              <input type="hidden" name="id_vendedor" value="{{artesao1['id']}}">
              {% if rotaCompra == '/adicionarCarrinho' %}
              {% for usuario in usuarios %}
                  {% if usuario['id'] == artesao1['id'] %}
                  
                      {% if usuario['carrinho'].get(produto) is not none %}
                          
                          <input type="submit" value="{{produto}} no carrinho&#10;Adicionar + 1" >
                

                      {% else %}
                          <input type="submit" value="{{btnCompra}}">
                      {% endif %}
                  {% endif %}
              {% endfor %}
              {% else %}
              <input type="submit" value="{{btnCompra}}">
              {% endif %}
          </form>
          <br>
          {% if rotaCompra == '/adicionarCarrinho' %}
          {% for usuario in usuarios %}
          {% if usuario['id'] == artesao1['id'] %}
              {% if usuario['carrinho'].get(produto) is not none %}

          <form action="/excluirItemCarrinho" method="post">
            <input type="hidden" name="nome_produto" value="{{produto}}">
            <input type="hidden" name="id_vendedor" value="{{artesao1['id']}}">

            <input type="submit" class="removerCarrinho" value="Remover do carrinho" >
          </form>
                                
          {% endif %}
          {% endif %}
      {% endfor %}
          {% endif %}

            <br>
          </div>
          {% endfor %}
          {% endif %}
          {% endfor %}
        </div>
      </section>


    </main>
    
    <footer>
      <p>&copy; 2023 Marketplace de Produtos Artesanais Igor & Luiz</p>
    </footer>
<script>
    
</script>
    <script src="/static/javascript/home.js"></script>
    <script src="/static/javascript/busca.js"></script>
    <script src="{{ url_for('static', filename='javascript/busca.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
  </body>
</html>
