<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Marketplace de Produtos Artesanais Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/loginartesao.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Página Inicial</a></li>
        <li class="cadastrar"><a href="/cadastrar"> Cadastrar </a></li>
      </ul>
    </nav>
  </header>



  <h1 class="titulo">Olá Artesão, vamos acessar sua conta? </h1>
  <main>


    <form action="/acessoArtesao" method="post">
      <h1>Login artesão</h1>
      {% set mensagens = get_flashed_messages() %}
      {% if mensagens %}
          <div id="alerta">
              {{mensagens[0]}}
          </div>
      {% endif %}
    
    
      <label for="emailArtesao">Email</label>
      <input type="email" name="emailArtesao" id="emailArtesao" placeholder="Digite seu Email" required>
      <label for="senhaArtesao">Senha</label>
      <input type="password" name="senhaArtesao" id="senhaArtesao" placeholder="Digite sua senha" required>
      <input type="submit" value="Entrar">
      <div class="forgot-password">
        Esqueceu sua senha? <a href="/esqueceuSenha"> Clique aqui</a>
      </div>

    </form>

  </main>

  <footer>
    <p>&copy; 2023 Marketplace de Produtos Artesanais Igor & Luiz</p>
  </footer>
  <script>

  </script>
  <script src="/static/javascript/home.js"></script>
  <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
</body>

</html>