

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Marketplace de Produtos Artesanais </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/logiCliente.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logiCliente.css') }}">

  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Página Inicial</a></li>
          <li class="cadastrar"><a href="/cadastrar"> Cadastrar </a></li>
          
        </ul>
      </nav>
          </header>


          

    
    <main>
      <form class="FormularioLoginCLiente" action="" method="post">

        <h1>Login</h1>
        <label for="EmailCliente">
          Email
        </label>
        <input type="email" placeholder="Digite seu Email" required name="EmailCliente">
        <label for="SenhaCliente"><br>
          Senha
        </label>
        <input type="password" placeholder="Digite sua senha" required name="SenhaCliente">
        <br>

        <input type="submit" value="Entrar">
          
    

      </form>
    



    </main>
     
    <footer>
      <p>&copy; 2023 Marketplace de Produtos Artesanais Igor & Luiz</p>
    </footer>
<script>
    
</script>
    <script src="/static/javascript/home.js"></script>
    <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
  </body>
</html>
