


@import url(/static/css/home.css);




main{
  display: flex;
}

.perfil {
    position: fixed;
    top: 10%;
    left: 0%;
    width: 15%;
    height: 100%;
    background-color: #007bff;
    padding: 10px;
    text-align: center;
  }

  .perfil img:hover {
    cursor: pointer;
  }
  
  .produtos {
    margin-bottom: 10%;
    margin-top:10% ;
    position: relative;
    float: right;
  }



  .formulario_produtos {
    /* flex: 1 0 50px; */
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10%;
    float: left; 
    width: 400px; 
    position: relative;
  }



  #enviar_produtos label {
    margin-bottom: 10px;
    font-weight: bold;
    display: block;

  }
  
  #enviar_produtos input[type="file"],
  #enviar_produtos input[type="text"],
  #enviar_produtos input[type="number"] {
    display: block;
    
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 3px;
    margin-bottom: 10px;

  }
  
  form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }


  .formulario_produtos input[type="submit"]:hover {
    background-color: #0059b3;
  }




 



  /* estilo do enviar foto do perfil */
  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);

    
  }
  
  .modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
