




div#alerta{
  background: yellow;
  color: rgb(194, 0, 0);
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;

}



/* Estilos para o cabeçalho */



  nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 30px ;
    width: 100%;
    position: fixed;



  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #666;
  }


  /* estilo e icone do carrinho */
  
  
  .carrinho {
    position: absolute; 
    top: 0;
    right: 0;
    margin-right: 7%;
  }
  
  .carrinho i::before {
    content: " ";
  }
  

  .carrinho:hover img {
    position: absolute; 
    top: 0;
    right: -40;

  }

  .text {
    display: none;
    padding: 5px;
    border-radius: 5px;
    top: 20px;
    right: 0px;
    z-index: 1;
    font-size: 18px;
    white-space: nowrap;
    cursor: pointer;
    position: absolute;
    background-color: #333;
    color: #fff;
  }

  
  .carrinho:hover .text {
    display: inline-block;
  }
  
  
  /* Estilos para a seção de busca */
  #busca {
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  #busca h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #busca input[type="text"] {
    padding: 10px;
    width: 70%;
    border-radius: 5px 0 0 5px;
  }
  
  #busca button[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }




  /* ---------------------------------------------------------------------------------------------- */


  /* Define o estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
  }
  
  /* Define o estilo do cabeçalho */
  header {
    height: 30px ;
  }
  
  /* Define o estilo do logotipo */
  #logo {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
  }
  
  
  /* Define o estilo do botão de adicionar ao carrinho */
  .botao-adicionar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px 0;
    cursor: pointer;
    width: 100%;
  }
  
  /* Define o estilo do campo de busca */
  #campo-busca {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
    font-size: 16px;
  }
  
  /* Define o estilo do rodapé */
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    height: 30px; 
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;

  }
  
   form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }


  form input[type="submit"]:hover {
    background-color: #0059b3;
  }

  form input[type="submit"].removerCarrinho {
    background-color: red;

  }


  form input[type="submit"].removerCarrinho:hover {
    background-color: brown;

  }



  .produtos {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }

  .produto {
    display: inline-block;
    width: 25%;
    margin-bottom: 20px;
  }

  .produto.ultima {
    clear: left;
  }



  /* estilo do botão de cadastro */
  .cadastrar {
    position: absolute; 
    top: 5;
    right: 0;
    margin-right: 7%;
  }


  .sair{
    position: absolute; 
    top: 5;
    right: 0;
    margin-right: 7%;

  }


