


/* importação do css home para ser usado como base */
@import url(/static/css/home.css);


/* estilo do formulário */
form {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    
  }

  .forgot-password {
    font-size: 14px;
    float: right;
    margin-top: 15px;
  }


  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  


/* estilo do botão de cadastro */
  .cadastrar {
    position: absolute; 
    top: 5;
    right: 0;
    margin-right: 7%;
  }
