@import url(/static/css/home.css);

form {
    height: 400px;
    width: 600px;
    position: absolute;
    margin: 10% 25%;
    border-radius: 20px;
    box-shadow: 0px 2px 10px black;
    text-align: center;
    padding: 20px;
   

    
}
input[type="email"], input[type="password"]{
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;

}
input[type="submit"]{
    font-size: 18px;
    border-radius: 5px;
    

}